@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?57oqft');
    src: url('../fonts/icomoon.eot?57oqft#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?57oqft') format('truetype'), url('../fonts/icomoon.woff?57oqft') format('woff'), url('../fonts/icomoon.svg?57oqft#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-clipboard:before {
    content: "\e008";
}

.icon-cart1-outline:before {
    content: "\f3f7";
}

.icon-cart1:before {
    content: "\f3f8";
}

.icon-rank-outline:before {
    content: "\e6bb";
}

.icon-ellipsis-outline:before {
    content: "\e6e1";
}

.icon-ellipsis:before {
    content: "\e6e2";
}

.icon-application:before {
    content: "\e739";
}

.icon-card-outline:before {
    content: "\e900";
}

.icon-shop-outline:before {
    content: "\e901";
}

.icon-cart:before {
    content: "\e902";
}

.icon-cart-outline:before {
    content: "\e903";
}

.icon-product:before {
    content: "\e904";
}

.icon-message-outline:before {
    content: "\e905";
}

.icon-product-outline:before {
    content: "\e906";
}

.icon-heart:before {
    content: "\e907";
}

.icon-settings:before {
    content: "\e908";
}

.icon-eye:before {
    content: "\e909";
}

.icon-bubble:before {
    content: "\e90a";
}

.icon-phone:before {
    content: "\e90b";
}

.icon-shop:before {
    content: "\e90c";
}

.icon-wallet:before {
    content: "\e90d";
}

.icon-truck:before {
    content: "\e90e";
}

.icon-search1:before {
    content: "\e90f";
}

.icon-search2:before {
    content: "\e910";
}

.icon-eye2-outline:before {
    content: "\e911";
}

.icon-eye2:before {
    content: "\e912";
}

.icon-star2-outline:before {
    content: "\e913";
}

.icon-star2:before {
    content: "\e914";
}

.icon-trash-outline:before {
    content: "\e915";
}

.icon-trash:before {
    content: "\e916";
}

.icon-moneybag:before {
    content: "\e917";
}

.icon-moneybag-outline:before {
    content: "\e918";
}

.icon-piggy:before {
    content: "\e919";
}

.icon-piggy-outline:before {
    content: "\e91a";
}

.icon-location1:before {
    content: "\e91b";
}

.icon-qrcode:before {
    content: "\e938";
}

.icon-ion-card:before {
    content: "\f119";
}

.icon-sort:before {
    content: "\f166";
}

.icon-minus-round:before {
    content: "\f20f";
}

.icon-record:before {
    content: "\f21b";
}

.icon-plus-round:before {
    content: "\f21f";
}

.icon-podium:before {
    content: "\f344";
}

.icon-clock:before {
    content: "\f35a";
}

.icon-arrow-down2:before {
    content: "\f35d";
}

.icon-arrow-dropdown:before {
    content: "\f35f";
}

.icon-arrow-dropleft:before {
    content: "\f361";
}

.icon-arrow-dropright:before {
    content: "\f363";
}

.icon-arrow-dropup:before {
    content: "\f365";
}

.icon-arrow-up2:before {
    content: "\f366";
}

.icon-more-horizontal:before {
    content: "\f396";
}

.icon-more-vertical:before {
    content: "\f397";
}

.icon-person:before {
    content: "\f3a0";
}

.icon-arrow-back:before {
    content: "\f3cf";
}

.icon-arrow-down:before {
    content: "\f3d0";
}

.icon-arrow-forward:before {
    content: "\f3d1";
}

.icon-arrow-left:before {
    content: "\f3d2";
}

.icon-arrow-right:before {
    content: "\f3d3";
}

.icon-arrow-up:before {
    content: "\f3d8";
}

.icon-chatboxes-outline:before {
    content: "\f3f9";
}

.icon-chatboxes:before {
    content: "\f3fa";
}

.icon-checkmark-empty:before {
    content: "\f3fd";
}

.icon-checkmark-outline:before {
    content: "\f3fe";
}

.icon-checkmark:before {
    content: "\f3ff";
}

.icon-close-empty:before {
    content: "\f404";
}

.icon-close-outline:before {
    content: "\f405";
}

.icon-close:before {
    content: "\f406";
}

.icon-contact-outline:before {
    content: "\f419";
}

.icon-contact:before {
    content: "\f41a";
}

.icon-email-outline:before {
    content: "\f422";
}

.icon-email:before {
    content: "\f423";
}

.icon-gear-outline:before {
    content: "\f43c";
}

.icon-gear:before {
    content: "\f43d";
}

.icon-help-outline:before {
    content: "\f445";
}

.icon-help:before {
    content: "\f446";
}

.icon-home-outline:before {
    content: "\f447";
}

.icon-home:before {
    content: "\f448";
}

.icon-information-outline:before {
    content: "\f44c";
}

.icon-information:before {
    content: "\f44d";
}

.icon-list-outline:before {
    content: "\f453";
}

.icon-list:before {
    content: "\f454";
}

.icon-location-outline:before {
    content: "\f455";
}

.icon-location:before {
    content: "\f456";
}

.icon-paper-outline:before {
    content: "\f471";
}

.icon-paper:before {
    content: "\f472";
}

.icon-person1-outline:before {
    content: "\f47d";
}

.icon-person1:before {
    content: "\f47e";
}

.icon-star-outline:before {
    content: "\f4b2";
}

.icon-star:before {
    content: "\f4b3";
}