<ion-view class="mlpwd" hide-app-title>

	<ion-header-bar class="bar bar-header">
        <a class="back-btn ion-ios-arrow-left" onclick="appRuler.closePage()"></a>
        <h1 class="title">修改登录密码</h1>
    </ion-header-bar>

	<ion-content>
		
		<div class="content">
			<form role="form" name="myForm" ng-submit="checkMobileUniCode(modifyLoginPwd)" novalidate>

				<div class="row input-vercode padding0">
					<div class="col-67 input">
						<label for="imgCode">图形验证码</label>
						<input id="imgCode" type="text" ng-model="params.imgCode" placeholder="输入图形验证码"/>	
					</div>
					<div class="col-33 img-vercode">
						<imgcode></imgcode>
					</div>
				</div>
				<div class="row input-vercode padding0">
					<div class="col-67 input">
						<label for="smsCode">短信验证码</label>
						<input id="smsCode" type="text" ng-model="checkParams.smsCode"  placeholder="输入短信验证码"/>
					</div>
					<div class="col-33 msg-vercode">
						<sendcaptcha></sendcaptcha>
					</div>
				</div>
				<div ng-if="sendSuccess" class="row send-tips">
					 <i></i>短信验证码已发送至{{userInfo.mobile.substring(0,4)+'****'+userInfo.mobile.substring(userInfo.mobile.length - 4,userInfo.mobile.length)}}手机上
				</div>
				<div class="row input-pwd">
					<div class="col">
						<label for="oldPwd">登录密码</label>
						<input id="oldPwd" class="right-input" type="password" ng-model="modifyParams.oldPwd" placeholder="8-16位并同时包含字母和数字"/>
					</div>
				</div>
				<div class="row input-pwd">
					<div class="col">
						<label for="newPwd">确认密码</label>
						<input id="newPwd" class="right-input" type="password" ng-model="modifyParams.newPwd" placeholder="请再次输入密码"/>
					</div>
				</div>
				<div class="submit-area">
					<input type="submit" value="下一步"/>
				</div>
			</form>
		</div>

	</ion-content>

</ion-view>




