/*
* @Author: vip
* @Date:   2017-06-01 15:55:43
* @Last Modified by:   vip
* @Last Modified time: 2017-08-02 14:31:52
*/
.authen-step2 .content{
	padding-top: 0;
}
.authen-step2 .top-img{
	margin-bottom: 10px;
	padding: 20px 0 10px;
	text-align: center;
	background-color: #fff;
}
.authen-step2 .top-img img{
	width: 90%;
}
.authen-step2 .row.tips{
	padding: 0 0 10px 17px;
    color: #999999;
}
.authen-step2 .row.input-pwd{
	padding-left: 17px;
}
.authen-step2 .row.input-pwd input[type=text]{
	width: 100%;
}
.authen-step2 .row.fuzzyName{
	padding: 8px 13px;
	margin-bottom: 10px;
	background-color: #fff;
	color: #444444;
}
.authen-step2 .tip{
	margin-top: 20px;
	padding: 0 10px 10px;
	color: #666666;
}
.authen-step2 .tip i{
	float: left;
	margin: 3px 3px 0 0;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../../../../img/icon/tip.png) no-repeat center center;
	background-size: contain;
}