<ion-view>

	<ion-content delegate-handle="mainScroll">
	
		<div class="pro-detail">
			<ion-slide-box>
			  <ion-slide ng-repeat="img in proInfo.bigImageList">
			    <div class="row"><img ng-src="{{imgPre+img.url}}"/></div>
			  </ion-slide>
			</ion-slide-box>

			<div class="row pro-name">
				<span ng-bind="proInfo.productName"></span>
			</div>

			<div class="row price-stock">
				<div class="col"><span class="price"><b class="b1">￥{{proInfo.price}}</b></span></div>
				<div class="col"><span class="stock">库存：{{proInfo.inventory}}{{proInfo.unitName}}</span></div>
			</div>
			
			<div class="row safe">
				<i></i>下关特沱官方正品保障
			</div>
		</div>

		 <div class="image-pro">

			<div class="row tab">
				<div class="col" ng-click="checkImgInfo(true)"><span ng-class="{'active':showImageArea}">图文详情</span></div>
				<div class="col" ng-click="checkImgInfo(false)"><span ng-class="{'active':!showImageArea}">规格参数</span></div>
			</div>

			<div class="image" ng-if="showImageArea">
				
				<div class="row" ng-repeat="d in proInfo.detailImageList">
					<img ng-src="{{imgPre+d.url}}"/>
				</div>
			</div>

			<div ng-if="!showImageArea">
				<div class="specific">
					<div class="row title">茶品参数</div>
				</div>
				<div class="row param">
					<table>
						<tr><td>品牌</td><td ng-bind="proInfo.brandName"></td></tr>
						<tr><td>名称</td><td ng-bind="proInfo.productName"></td></tr>
						<tr><td>产地</td><td ng-bind="proInfo.col3 || '--'"></td></tr>
						<tr><td>工艺</td><td ng-bind="proInfo.craft"></td></tr>
						<tr><td>年份</td><td ng-bind="proInfo.makeDate"></td></tr>
						<tr><td>规格</td><td ng-bind="proInfo.productSpecification"></td></tr>
						<tr><td>出厂总量</td><td ng-bind="proInfo.actualqty+''+proInfo.unitName"></td></tr>
						<tr><td>抢购单价</td><td ng-bind="proInfo.price+'元'"></td></tr>
						<tr><td>抢购时间</td><td ng-bind="proInfo.issueStartTime | dateTime"></td></tr>
					</table>	
				</div>
			</div>
		
		</div>


	</ion-content>

</ion-view>




