<ion-view class="mall-pro-detail">

	<ion-content delegate-handle="mainScroll">
	
		<div class="pro-detail">

			<div class="list pro-info">
			    <a class="item item-thumbnail-left">
			      <img ng-src="{{imgPre+proInfo.detailImageList[0].url}}">
			      <h2>{{proInfo.productName}}</h2>
			      <p class="unit-price">参考价：<span>¥{{proInfo.guidePrice}}／{{proInfo.smallUnitName}}</span></p>
			      <p class="deal-info">可买量({{proInfo.smallUnitName}})：{{proInfo.buyNo}} &nbsp; 求购量({{proInfo.smallUnitName}})：{{proInfo.saleNo}}</p>
			      <p class="deal-info">成交量({{proInfo.smallUnitName}})：{{proInfo.historySaleCount}}</p>
			    </a>
			</div>

			<div id="chart" style="width: 100%;height:280px;"></div>
			

		</div>

		 <div class="image-pro">

			<div class="row tab">
				<div class="col" ng-click="checkImgInfo(true)"><span ng-class="{'active':showImageArea}">图文详情</span></div>
				<div class="col" ng-click="checkImgInfo(false)"><span ng-class="{'active':!showImageArea}">规格参数</span></div>
			</div>

			<div class="image" ng-if="showImageArea">
				<div class="row img-detail">
					<div class="col"><i></i></div>
					<div class="col-20"><img src="img/proDetail03.png"/>详情</div>
					<div class="col"><i></i></div>
				</div>
				<div class="row" ng-repeat="d in proInfo.detailImageList">
					<img ng-src="{{imgPre+d.url}}"/>
				</div>
			</div>

			<div ng-if="!showImageArea">
				<div class="specific">
					<div class="row title">茶品参数</div>
				</div>
				<div class="row param">
					<table>
						<tr><td>品牌</td><td ng-bind="proInfo.brandName"></td></tr>
						<tr><td>名称</td><td ng-bind="proInfo.productName"></td></tr>
						<tr><td>产地</td><td ng-bind="proInfo.col3 || '--'"></td></tr>
						<tr><td>工艺</td><td ng-bind="proInfo.craft"></td></tr>
						<tr><td>年份</td><td ng-bind="proInfo.makeDate"></td></tr>
						<tr><td>规格</td><td ng-bind="proInfo.productSpecification"></td></tr>
						<tr><td>出厂总量</td><td ng-bind="proInfo.actualqty+'千克'"></td></tr>
					</table>	
				</div>
			</div>
		
		</div>


	</ion-content>

</ion-view>




