@charset "UTF-8";

.register .input-pwd input[type=password], 
.register .input-pwd input[type=tel], 
.register .input-pwd input[type=text], 
.register .input-vercode .input input{
	width: 100%;
	display: inline-block; 
	float: none;
}
.register .content .row>div{
	padding: 3px;
	width: 50%;
}
.register .content .row>div label{
	float: none;
	height: auto;
	line-height: inherit;
}
.register{
	background-color: #fff;
}
.register .row .col{
	padding: 0;
}
.register .content{
	padding: 0 0 10px;
	margin-top: 55px;
}
.register .content .row.padding1{
	padding: 0 40px 10px 50px;
	background-repeat: no-repeat;
	background-size: 15px 20px;
	background-position: 28px 16px;
}
.register .content .row.padding1 .bb1{
	border-bottom: solid 1px #dcdcdc;
}
.register .content .row.padding1 .pb0{
	padding-bottom: 0;
}
.register .content .row.checked{
	padding: 0 40px 10px 30px;
}
.register .content .row.checked input[type="checkbox"]{
	float: left;
	margin: 3px 2px 0 0;
}
.register .content .pt10{
	padding-top: 10px!important;
}
.register .content .mb0{
	margin-bottom: 0;
}
.register .input-mobile{
	background-image: url(../../../../img/register01.png);
}
.register .imgCode{
	background-image: url(../../../../img/register02.png);
	background-position: 28px 11px!important;
}
.register .mobileCode{
	background-image: url(../../../../img/register03.png);
	background-position: 28px 12px!important;
}
.register .pwd-icon{
	background-image: url(../../../../img/register04.png);
	background-position: 28px 5px!important;
}
.register .input-pwd input[type=text],
.register .input-pwd input[type=password],
.register .input-pwd input[type=tel],
.register .input-vercode .input input{
	font-size: 16px;
}
.register .input-vercode .img-vercode .show-img{
	display: inline-block;
}
.register .submit-area input{
	background-color: #db4b29;
	border-radius: 4px;
}
.register .submit-area{
	margin: 35px 0 0;
	padding: 0 20px;
}
.register .input-vercode .row .msg-vercode,
.register .input-vercode .row .img-vercode{
	width: 50%
}