@charset "UTF-8";
.mdf-mobile{
	background-color: #f2f2f2;
}
.mdf-mobile .tip{
	padding: 0 10px 10px;
	color: #666666;
}
.mdf-mobile .tip i{
	float: left;
	margin: 3px 3px 0 0;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../../../../img/icon/tip.png) no-repeat center center;
	background-size: contain;
}