<ion-view class="user-info" hide-app-title>

	<ion-header-bar class="bar bar-header">
        <a class="back-btn ion-ios-arrow-left" onclick="appRuler.closePage()"></a>
        <h1 class="title">个人信息</h1>
    </ion-header-bar>

	<ion-content>
	
		<div ng-if="userInfo" class="list">
			<a ng-class="{'bg-none':userInfo.role=='AGENT'}" class="item" ng-href="{{userInfo.role=='AGENT'?'':'#/modifyMobile'}}">
			    手机号码
			    <span class="item-note">
					{{userInfo.mobile.substring(0,3)+'****'+userInfo.mobile.substring(userInfo.mobile.length-4,userInfo.mobile.length)}}
			    </span>
			</a>
			<a class="item" ng-href="{{'#/modifyNickName/'+userInfo.nickName}}">
			    昵称
			    <span class="item-note">
			      {{userInfo.nickName}}
			    </span>
			</a>
			<a class="item" ng-if="userInfo.memberNo" href="#/showAuthenInfo">
			    身份认证
			    <span class="item-note">
			      已认证
			    </span>
			</a>
			<a class="item" ng-if="!userInfo.memberNo && !userInfo.cardNo" href="#/IDauthenStep1/h5">
			    身份认证
			    <span class="item-note" ng-if="!userInfo.memberNo">
			      未认证
			    </span>
			</a>
			<a class="item" ng-if="!userInfo.memberNo && userInfo.cardNo" href="#/IDauthenStep2/h5">
			    身份认证
			    <span class="item-note" ng-if="!userInfo.memberNo">
			      未认证
			    </span>
			</a>
		</div>


	</ion-content>

</ion-view>




