/*
* @Author: vip
* @Date:   2017-06-01 13:22:55
* @Last Modified by:   vip
* @Last Modified time: 2017-08-03 13:28:52
*/
.real-name .content{
	padding-top: 0;
}
.real-name .top-img{
	margin-bottom: 10px;
	padding: 20px 0 10px;
	text-align: center;
	background-color: #fff;
}
.real-name .top-img img{
	width: 90%;
}
.real-name .tip{
	padding: 0 10px 10px;
	color: #666666;
}
.real-name .tip i{
	float: left;
	margin: 3px 3px 0 0;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../../../../img/icon/tip.png) no-repeat center center;
	background-size: contain;
}
.real-name .content .input-area{
	padding: 0 10px;
	background-color: #fff;
}
.real-name .row{
	margin-top: 0;
	padding: 5px 0;
	border-bottom: solid 1px #f2f2f2;
}
.real-name .row input[type="text"]{
	width: 97%;
}
.real-name .submit-btn{
	margin-top: 45px;
	padding: 0 10px;
}
.real-name .submit-btn button{
	width: 100%;
	background-color: #db4b29;
	padding: 12px 0;
	color: #fff;
	border-radius: 5px;
}