<ion-view class="mlpwd real-name" hide-app-title>

	<ion-header-bar class="bar bar-header">
        <a class="back-btn ion-ios-arrow-left" ng-click="back()"></a>
        <h1 class="title">实名认证</h1>
    </ion-header-bar>

	<ion-content>
	
		<div class="content">
			<div class="top-img">
				<img src="./img/IDauthenStep1-01.png"/>
			</div>
			<div class="tip">
				<i></i>为了保证您的资金安全，请进行实名认证。
			</div>
			<form role="form" name="myForm" ng-submit="submit()" novalidate>
				<div class="row input-pwd">
					<div class="col">
						<input type="text" placeholder="请输入真实姓名" ng-model="params.name" maxlength="16"/>
					</div>
				</div>
				<div class="row input-pwd">
					<div class="col">
						<input type="text" placeholder="请输入身份证号码" ng-model="params.cardNo" maxlength="18"/>
					</div>
				</div>
				<div class="submit-btn">
					<button type="submit" class="clear-btn">下一步</button>
				</div>
			</form>
		</div>


	</ion-content>

</ion-view>




