/*
* @Author: vip
* @Date:   2017-06-01 15:55:43
* @Last Modified by:   vip
* @Last Modified time: 2017-07-27 10:52:59
*/
.authen-success{
	background-color: #f2f2f2;
}
.authen-success .content{
	padding: 30px 0;
}
.authen-success .icon-tip{
	margin-bottom: 5px;
	text-align: center;
}
.authen-success .icon-tip > div{
	display: inline-block;
	font-size: 18px;
}
.authen-success .icon-tip > div img{
	vertical-align: middle;
	width: 35px;
	margin-right: 5px;
}
.authen-success .text-tip{
	text-align: center;
	color: #646464;
}
.authen-success .go-index{
	display: block;
	padding: 10px 0;
	margin: 50px 15px 0;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	background-color: #db4b29;
}